<script type="text/javascript" src="/components/jsqr/dist/jsQR.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>

<div class="section" id="section-menu">
  <% if(!(user.role === 'host' || user.role === 'staff')) { %>
    <div class="alert alert-danger">
      <i class="fa fa-times"></i> No tienes permisos suficientes para utilizar la app.
    </div>
  <% } else { %>
    <div class="row title mb-2">
      <div class="col-12">
        Administración
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6" style="padding-right: 3px;">
        <button type="button" id="show-movements" class="btn btn-purple btn-block btn-small">Movimientos</button>
      </div>
      <div class="col-6" style="padding-left: 3px;">
        <button type="button" id="show-status" class="btn btn-purple btn-block btn-small">Estado invitados</button>
      </div>
    </div>
    <div class="row title mb-2">
      <div class="col-12">
        Registrar movimientos
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div class="input-group">
          <input id="code" name="code" type="text" class="code-input form-control" placeholder="Código" aria-label="Code" aria-describedby="scan">
          <div class="input-group-append">
            <span class="input-group-text" id="scan"><i class="fa fa-camera"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-6" style="padding-right: 5px;">
        <button type="button" class="btn btn-enter btn-block btn-xxl" id="user-entry">
          ENTRADA
        </button>
      </div>
      <div class="col-6" style="padding-left: 5px">
        <button type="button" class="btn btn-exit btn-block btn-xxl" id="user-exit">
          SALIDA
        </button>
      </div>
      <!--
      <div class="col-4" style="padding-left: 5px;">
        <button type="button" class="btn btn-drink btn-block" id="user-drink">
          <img src="/images/mojito.png">
        </button>
      </div>
      -->
    </div>
    <div class="alert alert-danger">
      <b><span class="fa fa-close"></span></b> <span id="index-error"></span>
      <button type="button" class="close">&times;</button>
    </div>
    <div class="alert alert-success">
      <div class="target-user">
        <table class="user">
          <tr>
            <td><img class="profile-pic" src="<%= user.profile_picture %>"></div></td>
            <td>
              <div class="user-name"></div>
              <div class="user-role"><span></span></div>
            </td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="alert-msg-container mb-2">
        <i class="fa fa-info-circle"></i> <span class="alert-msg"></span>
      </div>
      <button type="button" class="close">&times;</button>
    </div>

    <!-- Modal: Registro de entradas y salidas -->
    <div class="modal fade" id="guest-movements" tabindex="-1" role="dialog" aria-labelledby="guest-movements-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="guest-movements-label">Registro de entradas y salidas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: Estado de los invitados -->
    <div class="modal fade" id="guest-status" tabindex="-1" role="dialog" aria-labelledby="guest-status-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="guest-status-label">Estado de los invitados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: QR code scanner -->
    <div class="modal fade" id="scanner" tabindex="-1" role="dialog" aria-labelledby="scanner-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="scanner-label">Escaneando código QR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <canvas id="video-container"></canvas>
            <div class="scanner-corners"><img src="/images/scanner.png"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
