<% if(user) { %>
  <nav>
    <table class="user">
      <tr>
        <td><img class="profile-pic" src="<%= user.profile_picture %>"></div></td>
        <td>
          <div class="user-name"><%= user.name %></div>
          <div class="user-role"><span><%= user.role %></span></div>
        </td>
        <td>
          <a href="#" id="logout"><i class="fa fa-sign-out"></i> Salir</a>
        </td>
      </tr>
    </table>
  </nav>
<% } %>
