body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.section .alert {
  display: none;
  margin-top: 10px;
}
footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 0.9em;
}
footer a {
  color: #eee;
}
footer a:hover, footer a:focus, footer a:active {
  color: #eee;
  text-decoration: underline;
}
img.profile-pic {
  max-width: 50px;
}
#section-login {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section {
  padding-top: 20px;
  padding-bottom: 30px;
}
nav {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: Arial;
}
table.user {
  width: 100%;
}
table.user, table.user tr, table.user tr td {
  margin: 0;
  padding: 0;
}
table.user tr td:first-child {
  width: 52px;
}
table.user tr td:nth-child(2) {
  padding-left: 15px;
}
table.user tr td:nth-child(3) {
  text-align: right;
  vertical-align: bottom;
  width: 45px;
  font-size: 0.8em;
}
.user-name .fa-circle {
  color: #00cc00;
}
.user-role span {
  padding: 3px 6px;
  border-radius:2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.7em;
  text-transform: uppercase;
}
nav a {
  color: #145685;
}
nav a:hover, nav a:focus, nav a:active {
  color: #0d3959;
}
.row.buttons {
  margin-bottom: 20px;
}
.btn-enter {
  background-color: #009900;
}
.btn-enter:focus,
.btn-enter:active,
.btn-enter:hover {
  background-color: #007700;
}
.btn-exit {
  background-color: #cc0000;
}
.btn-exit:focus,
.btn-exit:active,
.btn-exit:hover {
  background-color: #990000;
}
.btn-drink {
  background-color: #cccccc;
}
.btn-drink:focus,
.btn-drink:active,
.btn-drink:hover {
  background-color: #aaaaaa;
}
.btn-drink {
  height: 130px;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 0px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.btn-drink img {
  max-height: 80px;
}
.btn-xxl {
  height: 130px;
  font-size: 1em;
  font-weight: bold;
  padding: 40px 10px;
  border-radius: 0px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.code-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-size: 1em;
  text-transform: uppercase;
}
.btn {
  border-radius: 0;
}
#login {
  margin-top: 10px;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}
.logo img {
  max-width: 250px;
}
.btn-purple {
  background-color: #64354d;
  color: #fff;
  font-size: 1.1em;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #4c283a;
}
.btn-small {
  font-size: 0.9em;
}
.alert-msg-container {
  text-align: center;
}
.alert-msg {
  font-size: 0.9em;
  font-style: italic;
}
.close {
  float: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
.role-artist {
  background-color: #f38d44 !important;
}
.role-guest {
  background-color: #4f92ff !important;
}
.role-staff {
  background-color: #f38d44 !important;
}
.fa-green {
  color: green;
}
.fa-red {
  color: red;
}
.fa-gray {
  color: #aaaaaa;
}
.label {
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  color: white;
}
.label-danger {
  background-color: #d9534f;
}
.label-success {
  background-color: #5cb85c;
}
td.registerer {
  font-size: 0.7em;
}
#scan {
  cursor: pointer;
}
#scan:hover,
#scan:active,
#scan:focus {
  background-color: #dddddd;
}
#video-container {
  width: 100%;
}
.scanner-corners {
  width: 174px;
  height: 168px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}
