<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ticket {{code}}</title>
</head>
<style type="text/css">
	body, html {
		margin: 0;
		padding: 0;
		height: 891px;
		width: 688px;
	}
	div.flyer-container {
		position: relative;
		height: 891px;
		width: 688px;
	}
	div.qr-container {
		padding: 5px;
		position: absolute;
		width: 180px;
		height: 200px;
		background-color: white;
		bottom: 20px;
		left: 20px;
	}
	div.code {
		text-align: center;
		font-weight: bold;
	}
	div.qr-image {
		padding: 5px;
	}
	div.qr-image img {
		max-width: 100%;
	}
</style>
<body>
	<div class="flyer-container">
		<img src="/home/angel/www/partymanager/public/images/flyer.jpg">
		<div class="qr-container">
			<div class="code">{{code}}</div>
			<div class="qr-image"><img src="/home/angel/www/partymanager/files/images/qr/{{code}}.png"></div>
		</div>
	</div>
</body>
</html>
