<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ticket {{code}}</title>
</head>
<style type="text/css">
	body, html {
		margin: 0;
		padding: 0;
		font-family: Arial;
	}
	h2 {
		font-size: 1.4em;
		margin-top: 0px;
	}
	div.container {
		padding: 30px;
	}
	div.header,
	div.body {
		padding: 10px 30px;
	}
	div.separator {
		width: 100%;
		height: 2px;
		background-color: #000;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	div.body {
		padding-top: 30px;
	}
	div.body table {
		width: 100%;
	}
	div.body table,
	div.body tr,
	div.body td {
		padding: 0px;
		margin: 0px;
	}
	div.body tr,
	div.body td {
		vertical-align: top;
	}
	div.body table td:first-child {
		position: relative;
		width: 40%;
	}
	div.body table td:last-child {
		width: 60%;
		padding-left: 30px;
	}
	div.artwork-container {
		height: 500px;
	}
	div.artwork-container img {
		max-height: 100%;
	}
	div.info div {
		margin-bottom: 6px;
	}
	div.price div {
		margin-bottom: 12px;
	}
	div.info,
	div.price {
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
	div.price,
	div.extra {
		padding-top: 20px;
	}
	.list {
		font-size: 0.9em;
	}
	div.extra {
		font-size: 0.8em;
	}
	div.qr-container {
		padding: 5px;
		position: absolute;
		width: 180px;
		height: 200px;
		background-color: white;
		top: 0;
		left: 0;
	}
	div.code {
		text-align: center;
		font-weight: bold;
	}
	div.qr-image {
		padding: 5px;
	}
	div.qr-image img {
		max-width: 100%;
	}
</style>
<body>
	<div class="container">
		<div class="header">
			<h2>Tu entada para la fiesta de Guille y Ángel</h2>
			<p>Lleva esta entrada a la fiesta, impresa o en tu móvil</p>
		</div>
		<div class="separator"></div>
		<div class="body">
			<table>
				<tr>
					<td>
						<div class="artwork-container">
							<img src="/home/angel/www/partymanager/public/images/flyer.jpg">
						</div>
						<div class="qr-container">
							<div class="code">{{code}}</div>
							<div class="qr-image"><img src="/home/angel/www/partymanager/files/images/qr/{{code}}.png"></div>
						</div>
					</td>
					<td>
						<div class="info">
							<div>Fecha: viernes <b>14</b> de septiembre de 2018.</div>
							<div>Hora: <b>20:00</b>.</div>
							<div>Lugar: Calle Navia, nº 1, Urb. El Bosque, Villaviciosa de Odón.</div>
						</div>
						<div class="price">
							<div>Precio de la entrada: <b>5.00€</b></div>
							<div class="list">Qué incluye:</div>
							<ul class="list">
								<li>Conciertos.</li>
								<li>Monólogo.</li>
								<li>Cena: tortilla, pintxos, picoteo.</li>
							</ul>
							<div class="list">Qué <u>no</u> incluye*:</div>
							<ul class="list">
								<li>Bebida.</li>
								<li>Vasos de plástico.</li>
								<li>Hielos.</li>
							</ul>
							<div class="list">* Podéis traer vuestra bebida (o comida extra), vasos y hielos.</div>
						</div>
						<div class="extra">Piscina - Zona segura para dejar pertenencias - Portero - Camareros - Mojitos a 2,50€ - Cervezas a 1€ - Zona exterior con conciertos y DJs - Zona interior con escenario - Monólogo - Karaoke - Nevera a disposición de los invitados</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
