<div id="section-login" class="section">
	<form class="form-signin">
		<div class="logo"><img src="/images/logo.png"></div>
		<div class="input-group mb-2">
		  <div class="input-group-prepend"style="height: 46px;">
		    <span class="input-group-text" id="basic-addon1">
					<i class="fa fa-user"></i>
				</span>
		  </div>
			<input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" aria-label="Username" aria-describedby="basic-addon1" required autofocus>
		</div>
		<div class="input-group mb-2">
		  <div class="input-group-prepend"style="height: 46px;">
		    <span class="input-group-text" id="basic-addon2">
					<i class="fa fa-lock"></i>
				</span>
		  </div>
			<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon2" required>
		</div>
		<button class="btn btn-lg btn-purple btn-block" id="login" type="button">Iniciar sesión</button>
		<div class="alert alert-danger">
			<b><span class="fa fa-close"></span></b> <span id="login-error"></span>
		</div>
	</form>
</div>
